<div class="my-form1-title">
  Entradas:
</div>

<div id="tickets">
</div>

<div class="my-keypad">
  <button type="button" onclick="oWhatsappticketsWidget.addTicket({})" class="my-button-icon my-button-blue-2">
    <span class="fas fa-plus fa-1x"></span>
    Agregar entrada
  </button>
</div>