<div class="my-keypad">
  <button onclick="sendMessage.goBack()" class="my-button-only-icon my-button-simple">
    <span class="fas fa-backspace fa-1x"></span>
  </button>
  <button onclick="oAppMain.goTo('', '')" class="my-button-only-icon my-button-simple">
    <span class="fas fa-home fa-1x"></span>
  </button>
</div>

<h2><span class="fas fa-share-square fa-1x"></span> Enviar</h2>

<form id="sendForm" name="sendForm" method="post" onsubmit="return sendMessage.send(this)">
  <div class="my-field my-field-column">
    <label for="number">N&uacute;mero:</label>
    <input type="text" class="my-text" id="number" name="number" placeholder="N&uacute;mero" />
    <span id="errnumber"></span>
  </div>

  <div class="my-field my-field-column">
    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" placeholder="Mensaje" class="my-textarea"></textarea>
    <span id="errmessage"></span>
  </div>

  <div id="keypad" data-template="true" class="my-keypad">
    <button id="btnsend" type="submit" class="my-button-icon my-button-simple">
      <span class="fas fa-file-import fa-1x"></span>
      Enviar
    </button>
  </div>
</form>